[user]
	name = Amr
	email = amr@programmer.net
[init]
	defaultBranch = main
[pull]
	rebase = false
[github]
	user = cyber-amr
[credential]
	helper = store
# This is not safe to be in a public server do not do this
# idk tho my website already sucks who tf gonna hack it
